<section class="container mx-auto py-8">
  <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
        <div class="w-full md:w-64 shadow shadow-gray-500/50 p-2 my-2">
          <div class="h-40 w-40 mx-auto relative">
            <img class="h-full w-full rounded-full object-cover" src="assets/pizza-images/img/pizza.png" alt="">
            <div class="absolute inset-0 rounded-full shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] shadow-red-500/50"></div>
          </div>
            <div class="text-center">
                <h2 class="mb-4 text-lg">Marina</h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs">MEDIUM</span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">₹300</span>
                    <button
                        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
    <div class="w-full md:w-64 shadow shadow-gray-500/50 p-2 my-2">
      <div class="h-40 w-40 mx-auto relative">
        <img class="h-full w-full rounded-full object-cover" src="assets/pizza-images/img/pizza.png" alt="">
        <div class="absolute inset-0 rounded-full shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] shadow-red-500/50"></div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 text-lg">Marina</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">MEDIUM</span>
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹300</span>
          <button
            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-64 shadow shadow-gray-500/50 p-2 my-2">
      <div class="h-40 w-40 mx-auto relative">
        <img class="h-full w-full rounded-full object-cover" src="assets/pizza-images/img/pizza.png" alt="">
        <div class="absolute inset-0 rounded-full shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] shadow-red-500/50"></div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 text-lg">Marina</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">MEDIUM</span>
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹300</span>
          <button
            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-64 shadow shadow-gray-500/50 p-2 my-2">
      <div class="h-40 w-40 mx-auto relative">
        <img class="h-full w-full rounded-full object-cover" src="assets/pizza-images/img/pizza.png" alt="">
        <div class="absolute inset-0 rounded-full shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] shadow-red-500/50"></div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 text-lg">Marina</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">MEDIUM</span>
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹300</span>
          <button
            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-64 shadow shadow-gray-500/50 p-2 my-2">
      <div class="h-40 w-40 mx-auto relative">
        <img class="h-full w-full rounded-full object-cover" src="assets/pizza-images/img/pizza.png" alt="">
        <div class="absolute inset-0 rounded-full shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] shadow-red-500/50"></div>
      </div>
      <div class="text-center">
        <h2 class="mb-4 text-lg">Marina</h2>
        <span class="size py-1 px-4 rounded-full uppercase text-xs">MEDIUM</span>
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹300</span>
          <button
            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
