<div class="bg-common-color custom-header py-16">

  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-2">
      <img src="assets/pizza-images/img/cart-black.png" alt="cart">
      <h1  class="font-bold ml-4 text-2xl">Order Summery</h1>
    </div>
    <div class="border-b">
      <div class="flex items-center my-8">
        <img class="w-24" src="assets/pizza-images/img/pizza.png" alt="pizza.png">
        <div class="ml-4 flex-1">
          <h1 >Marina</h1>
          <span >MEDIUM</span>
        </div>
        <span class="flex-1">1 Pcs</span>
        <span class="font-bold text-lg"> ₹300</span>
      </div>
    </div>
    <div class="text-right py-4">
      <div>
        <span class="font-bold text-lg">Total Amount:</span>
        <span class="font-bold text-lg text-common-color ml-2">₹300</span>
      </div>
      <div>
        <form action="" class="mt-12">
            <div>
              <input type="text" class="border border-gray-400 p-2 w-1/2 mb-4"
                     placeholder="Phone Number">
            </div>
          <div>
              <input type="text" class="border border-gray-400 p-2 w-1/2 mb-4"
                     placeholder="Phone Number">
            </div>
          <div>
            <button class="rounded-full button-color px-6 py-2 text-white mt-2" type="submit">Order Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--  <div class="py-16">-->
<!--    <div class="container mx-auto text-center">-->
<!--    <h1 class="text-3xl-font-bold mb-2">Cart Empty</h1>-->
<!--    <p class="text-gray-500 text-lg-mb-12">You probably haven't ordered a pizza yet.-->
<!--      <br>-->
<!--      To order a pizza, go to the main page.</p>-->
<!--    <img class="w-2/5 mx-auto" src="assets/pizza-images/img/empty-cart.png" alt="empty-cart">-->
<!--      <button class="rounded-full button-color px-6 py-2 text-white my-6" (click)="back()">back to homepage</button>-->
<!--  </div>-->
<!--</div>-->
</div>

