<div class="px-16 ">
  <div class="flex justify-between py-4">
    <div class="">
      <img src="assets/pizza-images/img/logo.png" alt="LOGO">
    </div>
    <ul class="flex items-center text-lg text font-medium">
      <li class="p-2">Menu</li>
      <li class="p-2">Offers</li>
      <li class="p-2">Register</li>
      <li class="p-2">Login</li>
      <li class="py-2 px-4 bg-orange-600 rounded-lg">
        <button type="button" class="flex items-center text-white P-2">
          <i class="fa-solid fa-cart-plus "></i>
        </button>
      </li>
    </ul>
  </div>
</div>
