<div class="container mx-auto">
  <div class="flex justify-between py-4">
    <div class="cursor-pointer" routerLink="/">
      <img src="assets/pizza-images/img/logo.png" alt="LOGO">
    </div>
    <ul class="flex items-center text-lg gap-4 text font-medium">
      <li class="p-2 cursor-pointer" routerLink="/">Menu</li>
      <!--      <li class="p-2 cursor-pointer" routerLink="/offers">Offers</li>-->
      <li *ngIf="!isLogged" class="p-2 cursor-pointer" routerLink="/auth/register">Register</li>
      <li *ngIf="!isLogged" class="p-2 cursor-pointer" routerLink="/auth/login">Login</li>
      <li *ngIf="isLogged && isAdmin" routerLink="/admin">Panel</li>
      <li *ngIf="isLogged">
        <button class="p-2 cursor-pointer" (click)="logoutRemove()"> Logout</button>
      </li>
      <li class="button-color rounded-full cursor-pointer" routerLink="/cart">
        <button type="button"
                class="relative inline-flex items-center p-3 text-sm
                font-medium text-center text-white bg-primary rounded-lg">
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
          </svg>
          <span class="sr-only">Notifications</span>
          <div
            class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white
            bg-blue-500 rounded-full -top-2 -right-2 ">
            {{cartDetails === undefined ? 0 : cartDetails}}
          </div>
        </button>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
