<div class="bg-common-color h-full custom-header">
  <div class="flex justify-between h-full items-center container mx-auto">
    <div class="w-1/2">
      <h3 class="italic  font-medium">Are You Hungry ?</h3>
      <h1 class="text-6xl py-4 font-medium">Don't Wait !</h1>
      <button class="rounded-full button-color px-6 py-2 text-white mt-2">Order Now</button>
    </div>
    <div class="w-1/2">
      <img src="assets/pizza-images/img/hero-pizza.png"  alt="">
    </div>
  </div>
</div>
<app-products></app-products>
